<header class="masthead h-75 text-white text-center">
    <div class="overlay">
        <div class="container">
            <div class="home-info">
              <h1 class="cover-heading">Manage your Orders</h1>
            </div>
          </div>
    </div>
  </header>

  <div class="container">
      <h1>Orders</h1>
      <table class="table table-xs text-center">
        <tr>
          <th class="text-center">Customer</th>
          <th class="text-center">Date</th>
          <th class="text-center">Status</th>
          <th class="text-center">Delivery</th>
          <th></th>
        </tr>
        <tr class="item-row">
          <td title="Customer">Adetula Tolulope</td>
          <td title="Date">December 45, 2017</td>
          <td title="Status">Paid</td>
          <td title="Delivery">Yes</td>


          <td>
            <a routerLink="/shopping/order-details">View</a>
          </td>
        </tr>
      </table>
    </div>
