<nav>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <logo><a class="navbar-brand primary-font rancho" routerLink="/">Quick<span class="font-weight-bold rancho primary-color-font">Chow</span></a></logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/" class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" mdbRippleRadius routerLink="/shopping/cart">
                    <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                    <!-- <span class="badge secondary-color badge-pill" *ngIf="cart$ | async as cart">
    {{ cart.totalItemsCount }}
    </span> -->
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/subscriptions" class="nav-link waves-light" mdbRippleRadius>Our Plans</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/blog" class="nav-link waves-light" mdbRippleRadius>Blog</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons ">
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/restaurants" class="nav-link waves-light">Restaurants</a>
            </li>
            <li routerLinkActive="active" class="nav-item dropdown" dropdown>
              <a  dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>Adetula Tolulope <span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbRippleRadius routerLink="/shopping/my-orders">My Orders</a>
                    <a class="dropdown-item waves-light" mdbRippleRadius routerLink="/admin/orders">Manage Orders</a>
                    <a class="dropdown-item waves-light" mdbRippleRadius routerLink="/admin/restaurants">Manage Products</a>
                    <a class="dropdown-item waves-light" mdbRippleRadius routerLink="/posts">Manage Blog</a>
                <a mdbRippleRadius  class="dropdown-item waves-light">Log Out</a>
            </div>
          </li>
      </ul>
    </links>
  </mdb-navbar>
</nav>
  <!-- Main -->
  