
<div class="container" style="margin-top: 80px;">
  <div class="text-center">
      <h1 class="call-to-action">
          Our Meal Plans
      </h1>
      <p>
          Delicious and healthy Dishes delivered straight to your door at your Finger Tip
      </p>
  </div>
  <div class="row texts">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="card">

              <div class="view hm-white-slight waves-light" mdbRippleRadius>
                  <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1521663191/shutterstock_327314204-9c8af1ff.jpeg_gxzneh.jpg" class="img-fluid" alt="">
                  <a>
                      <div class="mask"></div>
                  </a>
              </div>


              <div class="card-body">
                  <h4 class="card-title">Compact Plan</h4>
                  <h5 class="font-weight-bold">
                      <span class="del">NGN2000.00 </span>
                      <span class="dels">NGN1400.00/Week</span>
                  </h5>
                  <hr>
                  <ul class="ml-0">
                      <ol class="card-text ml-0 mb-3">
                          Fast and Quick Delivery
                      </ol>
                      <ol class="card-text ml-0 mb-3">
                          Free delivery for first 15 meals
                      </ol>
                      <ol class="card-text ml-0 mb-3">
                          Anytime Delivery Between 8am-10pm EveryDay
                      </ol>

                  </ul>
              </div>

              <div class="card-data">

                  <a routerLink="/subscriptions/check-out/compact" class=" waves-light" mdbRippleRadius>
                      <p style="margin-bottom: 0;">SELECT THIS PLAN</p>
                  </a>
              </div>
          </div>
      </div>
      <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="card">

              <div class="view hm-white-slight waves-light" mdbRippleRadius>
                  <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:eco/v1515750446/photo-1466978913421-dad2ebd01d17_w5twqx.jpg" class="img-fluid" alt="">
                  <a>
                      <div class="mask"></div>
                  </a>
              </div>


              <div class="card-body">
                  <h4 class="card-title">Classic Plan</h4>
                  <h5 class="font-weight-bold">
                      <span class="del">NGN7000.00 </span>
                      <span class="dels">NGN6000.00/Week</span>
                  </h5>
                  <hr>
                  <p class="card-text">Our widest variety of meat, fish, rice and swallows with Classic Dishes</p>
              </div>

              <div class="card-data">

                  <a routerLink="/subscriptions/check-out">
                      <p style="margin-bottom: 0;">SELECT THIS PLAN</p>
                  </a>
              </div>
          </div>
      </div> -->
      <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="card">

              <div class="view hm-white-slight waves-light" mdbRippleRadius>
                  <img src="https://res.cloudinary.com/dn1b66xo5/image/upload/q_auto:best/v1521663526/food-delivery-app-supplychain-optimization-hesol-consulting_fhl5o0.jpg" class="img-fluid" alt="">
                  <a>
                      <div class="mask"></div>
                  </a>
              </div>


              <div class="card-body">
                  <h4 class="card-title">Express Plan</h4>
                  <h5 class="font-weight-bold">
                      <span class="del">NGN2500.00 </span>
                      <span class="dels">NGN2000.00/Week</span>
                  </h5>
                  <hr>
                  <ul class="ml-0">
                      <ol class="card-text ml-0 mb-3">
                          Fast and Quick Delivery
                      </ol>
                      <ol class="card-text ml-0 mb-3">
                          Free delivery for first 21 meals
                      </ol>
                      <ol class="card-text ml-0 mb-3">
                          Anytime Delivery Between 8am-10pm EveryDay
                      </ol>

                  </ul>
              </div>

              <div class="card-data">

                  <a routerLink="/subscriptions/check-out/express">
                      <p style="margin-bottom: 0;">SELECT THIS PLAN</p>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>