<header class="masthead h-75 text-white text-center">
    <div class="mask flex-center rgba-black-strong">
        <div class="container">
            <div class="home-info">
                <h1 class="cover-heading">Select Your Favourite Restaurant</h1>
            </div>
        </div> 
    </div>
    
</header>
<div class="shop pt-5 ">
  <div class="container">
      <div class="row">
          <div class="col-md-3 pb-3">
              <!-- Left Filter Start -->
              <div class="left-side">
                  <h4>SEARCH FILTERS</h4>
                  <div class="search">
                      <!-- Search Filter Start -->
                      <form class="form-horizontal" method="post">
                          <fieldset>
                              <div class="form-group">
                                  <input name="s" value="" class="form-control" placeholder="Search Food" type="text">
                                  <button type="submit" value="submit" class="btn"><i class="icofont icofont-search"></i></button>
                              </div>
                              <ul class="list-unstyled">
                                  <li>
                                      <label class="check">
                                          <input type="radio" name="payment" class="checkclass"/>
                                          Sandwiches
                                      </label>
                                  </li>
                                  <li>
                                      <label class="check">
                                          <input type="radio" name="payment" class="checkclass"/>
                                          Fast Food
                                      </label>
                                  </li>
                                  <li>
                                      <label class="check">
                                          <input type="radio" name="payment" class="checkclass"/>
                                          Vegetarian
                                      </label>
                                  </li>
                                  <li>
                                      <label class="check">
                                          <input type="radio" name="payment" class="checkclass"/>
                                          Thai
                                      </label>
                                  </li>
                                  <li>
                                      <label class="check">
                                          <input type="radio" name="payment" class="checkclass"/>
                                          Non Veg
                                      </label>
                                  </li>
                                  <li>
                                      <label class="check">
                                          <input type="radio" name="payment" class="checkclass"/>
                                          Salads
                                      </label>
                                  </li>
                              </ul>
                          </fieldset>
                      </form>
                      <!-- Search Filter End -->
                  </div>
                  <div class="food">
                      <h3>Food For</h3>
                      <ul class="list-inline">
                          <li class="list-inline-item">
                              <label class="check">
                                  <input type="radio" name="payment" class="checkclass"/>
                                  Delivery
                              </label>
                          </li>
                          <li class="list-inline-item">
                              <label class="check">
                                  <input type="radio" name="payment" class="checkclass"/>
                                  Pickup
                              </label>
                          </li>
                      </ul>
                  </div>
                  <div class="popular">
                      <!-- Tag Filter Start -->
                      <h3>popular tags <a href="#" class="pull-right"><i class="icofont icofont-plus"></i></a></h3>
                      <ul class="list-inline">
                          <li class="list-inline-item"><a href="#">Coffee <i class="icofont icofont-close"></i></a></li>
                          <li class="list-inline-item"><a href="#">Spaghetti <i class="icofont icofont-close"></i></a></li>
                          <li class="list-inline-item"><a href="#">Pizza <i class="icofont icofont-close"></i></a></li>
                          <li class="list-inline-item"><a href="#"> Refill Combo <i class="icofont icofont-close"></i></a></li>
                          <li class="list-inline-item"><a href="#">Cakes <i class="icofont icofont-close"></i></a></li>
                          <li class="list-inline-item"><a href="#">Burger <i class="icofont icofont-close"></i></a></li>
                      </ul>
                      <!-- Tag Filter End -->
                  </div>
                                        <!-- Rating Filter Start -->

                  <!-- <div class="rating">
                      <h3>Rating</h3>
                      <ul class="list-unstyled">
                          <li>
                              <label class="check">
                                  <input type="radio" name="payment" class="checkclass"/>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                              </label>
                          </li>
                          <li>
                              <label class="check">
                                  <input type="radio" name="payment" class="checkclass"/>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                              </label>
                          </li>
                          <li>
                              <label class="check">
                                  <input type="radio" name="payment" class="checkclass"/>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                              </label>
                          </li>
                          <li>
                              <label class="check">
                                  <input type="radio" name="payment" class="checkclass"/>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                              </label>
                          </li>
                          <li>
                              <label class="check">
                                  <input type="radio" name="payment" class="checkclass"/>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                              </label>
                          </li>
                      </ul>
                  </div> -->
              </div>
              <!-- Left Filter End -->
          </div>
          <div class="col-md-6 mainpage">
              <!-- Product View Start -->
              <div class="row sort">
                  <!-- Product Short Start -->
                  <div class="col-md-4">
                      <div class="form-group input-group input-group-sm">
                          <div class="input-group-prepend">
                              <label class="input-group-addon" for="input-sort">Sort By :    </label>
                          </div>
                          <select class="selectpicker">
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                          </select>
                          
                      </div>
                  </div>
                  <!-- show How many meals on a page -->
                  <!-- <div class="col-md-4">
                      <div class="form-group input-group input-group-sm">
                          <div class="input-group-prepend">
                              <label class="input-group-addon" for="input-sort">Show :    </label>
                          </div>
                          <select id="input-show" class="form-control selectpicker bs-select-hidden">
                              <option value="" selected="selected">Default</option>
                              <option value="">1</option>
                              <option value="">5</option>
                              <option value="">15</option>
                              <option value="">20</option>
                              <option value="">25</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-4 list d-sm-none d-md-block text-right">
                      <div class="btn-group" role="group" aria-label="...">
                          <button type="button" id="grid-view" class="btn btn-theme-alt btn-md btngrid" data-toggle="tooltip" title="Grid"><i class="icofont icofont-brand-microsoft"></i></button>
                          <button  type="button" id="list-view" class="btn btn-theme-alt btn-md btngrid" data-toggle="tooltip" title="List"><i class="icofont icofont-listine-dots"></i></button>
                      </div>
                  </div> -->
                  <!-- Product Short End -->
              </div>

              <div class="row">
                  <!-- Product List Start -->
                  <!-- Single Product Start -->
                  <div class="product-layout product-grid col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="product-thumb">
                          <div class="image">
                              <a class="link" href="shop-details.html"><img src="https://i2.wp.com/www.naijachef.com/wp-content/uploads/2016/09/Amala.jpg?resize=1140%2C500&ssl=1" alt="Food image" title="Food image" class="img-fluid" /></a>
                              <div class="hoverbox">
                                  <a class="btn btn-theme btn-md" href="shopping-cart.html">Add To Cart</a>
                              </div>
                          </div>
                          <div class="caption">
                              <h4>Food Title Here</h4>
                              <div class="rating">
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                              </div>
                              <div class="price">$23.00</div>
                              <p class="des">Cursus / Dictum / Risus</p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non eleifend erat, vitae aliquam metus. Donec orci tellus, rhoncus eget ipsum tempus, dignissim rutrum enim. Integer interdum sapien nec tempus luctus.</p>
                              <p><a class="btn btn-theme btn-md" href="shopping-cart.html">Add To Cart</a></p>
                          </div>
                      </div>
                  </div>
                  <!-- Single Product End -->
                  <!-- Single Product Start -->
                  <div class="product-layout product-grid col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="product-thumb">
                          <div class="image">
                              <a class="link" href="shop-details.html"><img src="https://i2.wp.com/www.naijachef.com/wp-content/uploads/2016/09/Amala.jpg?resize=1140%2C500&ssl=1" alt="Food image" title="Food image" class="img-fluid" /></a>
                              <div class="hoverbox">
                                  <a class="btn btn-theme btn-md" href="shopping-cart.html">Add To Cart</a>
                              </div>
                          </div>
                          <div class="caption">
                              <h4>Food Title Here</h4>
                              <div class="rating">
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                              </div>
                              <div class="price">$23.00</div>
                              <p class="des">Cursus / Dictum / Risus</p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non eleifend erat, vitae aliquam metus. Donec orci tellus, rhoncus eget ipsum tempus, dignissim rutrum enim. Integer interdum sapien nec tempus luctus.</p>
                              <p><a class="btn btn-theme btn-md" href="shopping-cart.html">Add To Cart</a></p>
                          </div>
                      </div>
                  </div>
                  <!-- Single Product End -->
                  <!-- Single Product Start -->
                  <div class="product-layout product-grid col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="product-thumb">
                          <div class="image">
                              <a class="link" href="shop-details.html"><img src="https://i2.wp.com/www.naijachef.com/wp-content/uploads/2016/09/Amala.jpg?resize=1140%2C500&ssl=1" alt="Food image" title="Food image" class="img-fluid" /></a>
                              <div class="hoverbox">
                                  <a class="btn btn-theme btn-md" href="shopping-cart.html">Add To Cart</a>
                              </div>
                          </div>
                          <div class="caption">
                              <h4>Food Title Here</h4>
                              <div class="rating">
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                              </div>
                              <div class="price">$23.00</div>
                              <p class="des">Cursus / Dictum / Risus</p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non eleifend erat, vitae aliquam metus. Donec orci tellus, rhoncus eget ipsum tempus, dignissim rutrum enim. Integer interdum sapien nec tempus luctus.</p>
                              <p><a class="btn btn-theme btn-md" href="shopping-cart.html">Add To Cart</a></p>
                          </div>
                      </div>
                  </div>
                  <!-- Single Product End -->
                  <!-- Single Product Start -->
                  <div class="product-layout product-grid col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="product-thumb">
                          <div class="image">
                              <a class="link" href="shop-details.html"><img src="https://i2.wp.com/www.naijachef.com/wp-content/uploads/2016/09/Amala.jpg?resize=1140%2C500&ssl=1" alt="Food image" title="Food image" class="img-fluid" /></a>
                              <div class="hoverbox">
                                  <a class="btn btn-theme btn-md" href="shopping-cart.html">Add To Cart</a>
                              </div>
                          </div>
                          <div class="caption">
                              <h4>Food Title Here</h4>
                              <div class="rating">
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                                  <i class="icofont icofont-star"></i>
                              </div>
                              <div class="price">$23.00</div>
                              <p class="des">Cursus / Dictum / Risus</p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non eleifend erat, vitae aliquam metus. Donec orci tellus, rhoncus eget ipsum tempus, dignissim rutrum enim. Integer interdum sapien nec tempus luctus.</p>
                              <p><a class="btn btn-theme btn-md" href="shopping-cart.html">Add To Cart</a></p>
                          </div>
                      </div>
                    </div>
              </div>

              <div class="row">
                  <div class="col-sm-12 col-xs-12 text-center">
                      <!-- Pagination Start -->
                      <ul class="pagination justify-content-center">
                          <li class="page-item">
                              <a class="page-link" href="#" aria-label="Previous"><i class="icofont icofont-double-left"></i></a>
                          </li>
                          <li class="page-item active">
                              <a class="page-link" href="#">01</a> 
                          </li>
                          <li class="page-item">
                              <a class="page-link" href="#">02</a> 
                          </li>
                          <li class="page-item">
                              <a class="page-link" href="#">03</a>
                          </li>
                          <li class="page-item">
                              <a class="page-link" href="#">04</a>
                          </li>
                          <li class="page-item">
                              <a class="page-link" href="#">...</a> 
                          </li>
                          <li class="page-item">
                              <a class="page-link" href="#">18</a> 
                          </li>
                          <li class="page-item">
                              <a class="page-link" href="#" aria-label="Next"><i class="icofont icofont-double-right"></i></a>
                          </li>
                      </ul>
                      <!-- Pagination End -->
                  </div>
              </div>
              <!-- Product View End -->
          </div>
          <div class="col-md-3 pb-4 pl-3 pr-3 pt-4">
              <div style="   background: #e65100 !important; color: white;"  class="text-center pb-4 pl-3 pr-3 pt-4 mb-4">
                  <h5>Send your Order Message</h5>
                  <p>You can send us a message to complete your order</p>
                  <button type="button" class="btn btn-transparent waves-light" mdbWavesEffect>Send Message</button>
              </div>
              <div style="   background: #007c32 !important; color: white;"   class="text-center pb-4 pl-3 pr-3 pt-4">
                <h5>Can't find a Restaurant</h5>
                <p>If you can't find the Restaurant that you want to Order from, request to add it in our list</p>
                <button type="button" class="btn btn-transparent waves-light" mdbWavesEffect>Request</button>
            </div>
          </div>
          
      </div>
  </div>
</div>
<!-- Shop End -->
