<header class="masthead h-100 text-white text-center">
  <div class="overlay">
      <div class="container">
          <div class="home-info">
              <h1 class="cover-heading">Restaurant </h1>
              <p>Manage Restaurants and Products</p>
          </div>
      </div>
  </div>
</header>
<section class="container">
<div class="h-75 ml-auto mr-auto text-center mt-5 mb-5">
  <a routerLink="/admin/restaurants/our-restaurants" class="btn btn-theme">Manage Restaurants</a>
  <a routerLink="/admin/restaurants/our-products" class="btn btn-theme2-inv">Manage Products</a>

</div>
</section>