<div class="row align-items-center">
    <div class="col-sm-12 col-md-6">
      <div class="card trans">
        <div class="card-body row">
          <div class="col-12 col-lg-5 thumb_strip">
            <img src="../../assets/images/mavise.jpg" class="img-fluid img-thumbnail">
          </div>
          <div  class="col-12 col-lg-7 text-center">
            <h4 class="links card-title">Mavise Catering Service</h4>
            <p class="card-text">Delivery superb mouth-watering dishes to your satisfaction.</p>
            <p class="cards">
            <span >
              <i class="fa fa-clock-o" aria-hidden="true"></i> 30 min     &emsp;    <i class="fa fa-money" aria-hidden="true"></i> Min ₦100 &emsp;
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star-half color" aria-hidden="true"></i>
            </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card trans">
        <div class="card-body row">
          <div class="col-12 col-lg-5 thumb_strip">
            <img src="../../assets/images/mavise.jpg" class="img-fluid img-thumbnail">
          </div>
          <div  class="col-12 col-lg-7 text-center">
            <h4 class="links card-title">Mavise Catering Service</h4>
            <p class="card-text">Delivery superb mouth-watering dishes to your satisfaction.</p>
            <p class="cards">
            <span >
              <i class="fa fa-clock-o" aria-hidden="true"></i> 30 min     &emsp;    <i class="fa fa-money" aria-hidden="true"></i> Min ₦100 &emsp;
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star-half color" aria-hidden="true"></i>
            </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card trans">
        <div class="card-body row">
          <div class="col-12 col-lg-5 thumb_strip">
            <img src="../../assets/images/mavise.jpg" class="img-fluid img-thumbnail">
          </div>
          <div  class="col-12 col-lg-7 text-center">
            <h4 class="links card-title">Mavise Catering Service</h4>
            <p class="card-text">Delivery superb mouth-watering dishes to your satisfaction.</p>
            <p class="cards">
            <span >
              <i class="fa fa-clock-o" aria-hidden="true"></i> 30 min     &emsp;    <i class="fa fa-money" aria-hidden="true"></i> Min ₦100 &emsp;
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star-half color" aria-hidden="true"></i>
            </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card trans">
        <div class="card-body row">
          <div class="col-12 col-lg-5 thumb_strip">
            <img src="../../assets/images/mavise.jpg" class="img-fluid img-thumbnail">
          </div>
          <div  class="col-12 col-lg-7 text-center">
            <h4 class="links card-title">Mavise Catering Service</h4>
            <p class="card-text">Delivery superb mouth-watering dishes to your satisfaction.</p>
            <p class="cards">
            <span >
              <i class="fa fa-clock-o" aria-hidden="true"></i> 30 min     &emsp;    <i class="fa fa-money" aria-hidden="true"></i> Min ₦100 &emsp;
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star-half color" aria-hidden="true"></i>
            </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card trans">
        <div class="card-body row">
          <div class="col-12 col-lg-5 thumb_strip">
            <img src="../../assets/images/mavise.jpg" class="img-fluid img-thumbnail">
          </div>
          <div  class="col-12 col-lg-7 text-center">
            <h4 class="links card-title">Mavise Catering Service</h4>
            <p class="card-text">Delivery superb mouth-watering dishes to your satisfaction.</p>
            <p class="cards">
            <span >
              <i class="fa fa-clock-o" aria-hidden="true"></i> 30 min     &emsp;    <i class="fa fa-money" aria-hidden="true"></i> Min ₦100 &emsp;
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star-half color" aria-hidden="true"></i>
            </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card trans">
        <div class="card-body row">
          <div class="col-12 col-lg-5 thumb_strip">
            <img src="../../assets/images/mavise.jpg" class="img-fluid img-thumbnail">
          </div>
          <div  class="col-12 col-lg-7 text-center">
            <h4 class="links card-title">Mavise Catering Service</h4>
            <p class="card-text">Delivery superb mouth-watering dishes to your satisfaction.</p>
            <p class="cards">
            <span >
              <i class="fa fa-clock-o" aria-hidden="true"></i> 30 min     &emsp;    <i class="fa fa-money" aria-hidden="true"></i> Min ₦100 &emsp;
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star color" aria-hidden="true"></i>
              <i class="fa fa-star-half color" aria-hidden="true"></i>
            </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  