<header class=" h-100">
  <div class="view intro-2">
      <div class="full-bg-img">
        <div class="mask flex-center rgba-black-strong">
          <div class="container text-center white-text wow fadeInUp">
            <h1 class="h1-responsive">Welcome to QuickChow</h1>
            <p>Order your delicious meals from your HALLS AND OFFICES.</p>
          </div>
          <div>
              <a  class="d" href="#123">
                  <div class="a"></div>
              </a>
          </div>
          
        </div>
    </div>
  </div>
</header>
  <section style="background-color: #f8f9fa !important;" id="#123" class="features-icons bg-light text-center pb-5 pt-5">
      <div class="container">
          <div>
              <h2 class="text-center"> How <b class="primary-color-font">it Works </b></h2>
          </div>
          <div class="row">
              <div class="col-lg-3 wow fadeInLeft" data-wow-delay="0.40s">
                  <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                      <div class="features-icons-icon d-flex">
                          <i class="icon-screen-desktop m-auto fa fa-cutlery fa-5x primary-color-font"></i>
                      </div>
                      <h3>Choose your favourite Restaurant</h3>
                      <p class="lead mb-0">Add your favourite food to cart</p>
                  </div>
              </div>
              <div class="col-lg-3 wow fadeInDown" data-wow-delay="0.40s">
                  <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                      <div class="features-icons-icon d-flex">
                          <i class="icon-layers m-auto fa fa-money fa-5x primary-color-font"></i>
                      </div>
                      <h3>Pay Online or On Delivery</h3>
                      <p class="lead mb-0">Choose your favourite method of payment</p>
                  </div>
              </div>
              <div class="col-lg-3 wow fadeInRight" data-wow-delay="0.40s">
                  <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                      <div class="features-icons-icon d-flex">
                          <i class="fa fa-truck fa-5x icon-check m-auto primary-color-font"></i>
                      </div>
                      <h3>Delivery</h3>
                      <p class="lead mb-0">We deliver your food as soon as you order to your halls and offices</p>
                  </div>
              </div>
              <div class="col-lg-3 wow fadeInRight" data-wow-delay="0.40s">
                  <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                      <div class="features-icons-icon d-flex">
                          <i class="fa fa-rss fa-5x icon-check m-auto primary-color-font"></i>
                      </div>
                      <h3>Subscribe</h3>
                      <p class="lead mb-0">Subscribe to one of our Delivery Plans</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class=" background text-center pb-5 pt-5">
      <div class="container" style="padding: 2rem;">
          <div class="row">
              <div class="col-12 col-sm-6 col-md-6">
                  <h1> Choose from our variety of Delivery Plans</h1>
              </div>
              <div class="col-12 col-sm-6 col-md-6">
                  <a routerLink="/subscriptions" class="btn btn-theme-inv waves-effect" mdbRippleRadius>Subscriptions</a>
              </div>
          </div>
      </div>
  </section>
  <div class="container">
      <app-restaurant-card></app-restaurant-card>
  </div>